body {
    height: 100vh;
    color: #fff;
    background-color: #061734;
    /* 浏览器不支持时显示 */
    /* background-image: linear-gradient(#413875, #9198e5); */
}

.datetimepicker {
    color: #333;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: .43rem .64rem;
}

/* 通用样式 start */

.common-box {
    background: rgba(19, 41, 78, 0.32);
    border: 1px solid rgba(37, 64, 109, 1);
    box-sizing: border-box;
    padding: .1rem;
    color: #fff;
}
.area-title{
    font-size: .28rem;
    margin-bottom: .1rem;
}
.color-green {
    color: #7ED321 !important;
}

.color-red {
    color: #FE4744 !important;
}

.clearfix {
    overflow: hidden;
}
.font-1{
    font-size: .22rem;
}
.font-2{
    font-size: .12rem;
    opacity: .7;
}
.box-top{
    overflow: hidden;
}
.box-title{
    float: left; 
}
.box-title > span{
    margin-left: .05rem;
}
.top-mini{
    margin-right: .15rem;
}
.legend{
    float: right;
    margin-top: .1rem;
}
.legend > span{
    margin-left: .1rem;
}
.top-tab{
    display: inline;
    margin-left: .2rem;
    opacity: .7;
}
.top-tab > span{
    font-size: .18rem;
    cursor: pointer;
}

.top-tab > .active{
    color: #50E3C2;
    cursor: default;
}

/* 图例圆环通用样式 */
.ring{
    display: inline-block;
    position: relative;
    border-radius: 50%;
    width: .12rem;
    height: .12rem;
    vertical-align: middle;
    margin-top: -.04rem;
    margin-right: .03rem;
}
.ring::before{
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    content: '';
    width: .08rem;
    height: .08rem;
    border-radius: 50%;
    background: #061734;
    margin-top: -.04rem;
    margin-left: -.04rem;
}
.ring.solid::before{
    display: none;
}

/* 图例颜色 */
.bg-color-1{
    background: linear-gradient(#FAD961, #F76B1C);
}
.bg-color-2{
    background: linear-gradient(#00FFC7, #4930EF);
}
.bg-color-3{
    background: linear-gradient(#7BD43C, #D2FE2E);
}
.bg-color-4{
    background: linear-gradient(#00FFC7, #4930EF);
}
.bg-color-5{
    background: linear-gradient(256deg,rgba(123,212,60,1) 0%,rgba(210,254,46,1) 100%);
}
.bg-color-6{
    background:linear-gradient(244deg,rgba(79,149,29,1) 0%,rgba(170,209,28,1) 100%);
}
.bg-color-7{
    background:linear-gradient(180deg,rgba(245,81,95,1) 0%,rgba(159,4,27,1) 100%);
}
.bg-color-8{
    background:linear-gradient(323deg,rgba(0,255,199,1) 0%,rgba(73,48,239,1) 100%);
}
.bg-color-9{
    background:linear-gradient(256deg,rgba(123,212,60,1) 0%,rgba(210,254,46,1) 100%);
}

/* 每个区域的头部栏 */

.title-tab {
    font-size: .14rem;
    color: #aaa;
    cursor: pointer;
}

.title-tab-line {
    font-size: .14rem;
    color: #ccc;
}

.title-tab.active {
    color: #49E3C2;
    cursor: default;
}

.box-title-right {
    float: right;
    color: #ccc;
    margin-top: .01rem;
}

.title-num {
    font-size: .18rem;
    color: #FE4744;
}

.title-info {
    font-size: .12rem;
    text-align: right;
    margin-bottom: .1rem;
}

.title-info>span {
    margin-left: .15rem;
}

.info-num.span {
    margin-left: .15rem;
}

/* 内容区的tab */

.data-tab {
    margin-top: .1rem;
}

.data-tab .title-tab {
    font-size: .18rem;
}

/* 列表 */

.list {
    line-height: .25rem;
}

.list-item {
    display: -webkit-box;
    display: flex;
    height: .2rem;
    line-height: .2rem;
    margin: .1rem 0;
}

.list-header {
    background: #23447C;
    opacity: .7;
    height: .32rem;
    line-height: .32rem;
}

.list-item-td {
    -webkit-box-flex: 1;
    flex: 1;
    /* text-align: right; */
    padding: 1px .05rem 0 .05rem;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    font-size: .16rem;
}

.list-item-td:first-child {
    text-align: left;
}

/* 滚动条样式 */

::-webkit-scrollbar {
    width: 4px;
    /*height: 4px;*/
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

/* 通用样式 end */

/* 头部 start */

.page-title {
    overflow: hidden;
    padding-top: 1px;
    margin-bottom: .1rem;
}

.project-name {
    font-size: .4rem;
    display: inline-block;
    margin-right: .4rem;
    float: left;
}

.page-title .date-picker {
    width: 2rem;
    display: inline-block;
    float: left;
    margin-top: .2rem;
}

.date-picker {
    float: right;
    margin-top: .2rem;
    height: .3rem;
    width: 1.4rem;
    color: #fff;
}

.date-picker.ys-datepicker>input {
    color: #70FFF9;
    /* border: 1px solid #70FFF9 !important; */
    border: none !important;
    outline: none !important;
    padding-left: .1rem;
    font-size: .18rem;
    width: 1.5rem;
    margin-left: .15rem;
}

.date-picker>input:focus {
    box-shadow: none;
}

.ys-datetimepicker:after {
    border: none;
    left: 0;
    width: .16rem;
    display: inline-block;
    background-size: .16rem .14rem;
}

/* 头部 end */

/* 左边模块 start */

.left-box {
    width: 8.74rem;
    float: left;
    
}
.left-box-1{
    width: 8.72rem;
    height: 2.27rem;
}
.left-box-1 .font-1{
    margin-right: .32rem;
}

.chart-1{
    margin-top: .08rem;
    height: 1.6rem;
}
.chart-2{
    margin-top: .08rem;
    height: 1.3rem;
}
.left-box-2{
    width: 5.4rem;
    height: 6.52rem;
    float: left;
    margin-top: .1rem;
}
.left-box-2>div{
    height: 2.1rem;
    margin-top: .1rem;
}
.left-box-2>div:first-child{
    margin: 0;
}
/* 销售 */
.left-box-3{
    width: 3.22rem;
    height: 6.52rem;
    float: left;
    margin-left: .1rem;
    margin-top: .1rem;
}
.compare{
    overflow: hidden;
    margin: .2rem 0;
}
.compare .compare-item{
    float: left;
    text-align: center;
    width: .42rem;
    margin-right: .4rem;
}

.compare .compare-item span{
    color: #70FFF9;
    font-size: .24rem;
}
.list-title{
    color: #50E3C2;
    font-size: .18rem;
    margin-bottom: .1rem;
    margin-top: .2rem;
}
.list-box{
}
.list-box span{
    font-size: .16rem;
}
.list-box .order{
    display: inline-block;
    width: .28rem;
    overflow: hidden;
    text-align: center;
    padding-left: .05rem;
}
.list-box .shop-name{
    display: inline-block;
    width: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-box .amount{
    display: inline-block;
    width: .28rem;
    float: right;
    width:1rem;
    overflow: hidden;
}
.compare-list-item{
    margin-bottom: .05rem;
}
.top5 .compare-list-item:nth-child(1) .order{
    background: url(../images/1.png) no-repeat;
    background-size: contain;
}
.top5 .compare-list-item:nth-child(2) .order{
    background: url(../images/2.png) no-repeat;
    background-size: contain;
}
.top5 .compare-list-item:nth-child(3) .order{
    background: url(../images/3.png) no-repeat;
    background-size: contain;
}

/* 左边模块 end */

/* 右边模块 start */
.right-box{
    width: 8.72rem;
    float: right;
}
.right-box-1{
        width: 8.72rem;
        height: 2.92rem;
}
.right-box-2{
    float: left;
    margin-top: .1rem;
    width: 5.46rem;
    height: 5.85rem;
}
.right-box-2-1{
    height: 2.88rem;
}
.right-box-2-2{
    height: 2.88rem;
    margin-top: .1rem;
}
.right-box-3{
    float: left;
    width: 3.14rem;
    margin-left: .1rem;
    margin-top: .1rem;
    height: 5.85rem;
}

/* 欠费 */
.arrears-wrap{
    overflow: hidden;
}
.arrears-list-wrap{
    overflow: hidden;
    float: left;
    margin-right: .4rem;
    margin-left: .1rem;
}
.arrears-list-wrap:last-child{
    margin: 0;
}
.arrears-list-box{
    float: left;
    overflow: hidden;
}
.arrears-list-item{
    margin-bottom: .05rem;
}
.arrears-list-item .amount{
    width: 2rem;
}
.arrears-bar{
    display: inline-block;
    width: 1.3rem;
    height: .1rem;
    margin-left: .1rem;
}
.bar1{
    background: #FA493F;
}
.bar2{
    background: #F58723;
}
.bar1-font{
    color: #FA493F
}
.bar2-font{
    color: #F58723
}
.arrears-list-wrap .shop-name{
    margin-right: .35rem;
}
.arrears-bar > i{
    display: inline-block;
    height: 100%;
    width: 100%;
}

/* 两者取高 */
.right-box-2-1 .content-box{
    overflow: hidden;
}
.right-box-2-1 .left-chart{
    float: left;
    
}
.right-box-2-1 .left-chart{
    margin-top: .3rem;
    margin-left: .1rem;
    float: left;
    position: relative;
    width: 1.62rem;
    height: 1.62rem;
    border-radius: 50%;
    background-image:linear-gradient(360deg, rgba(0,255,199,1), rgba(73,48,239,1));
}
.inner-content{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background: #0a1c3c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inner-content .inner-box{
    font-size: .14rem;
    line-height: 1.1;
    position: absolute;
}
.inner-content > .b1 {
    left:.3rem;
    top: .25rem;
}
.inner-content > .b2 {
    right:.3rem;
    bottom: .25rem;
}
.inner-content .inner-box > span{
    font-size: .35rem;
}
.inner-content > .b1 >span{
    color: #B8E986;
}
.inner-content  > .b2 > span{
    color: #70FFF9;
}

.right-box-2-1 .right-list{
    float: right;
    width: 2.62rem;
    margin: 0.1rem .16rem 0 .7rem;
}


/* 租约到期 */
.right-box-2-2 .content-box{
    overflow: hidden;
}
.right-box-2-2 .left-info{
    width: 1.04rem;
    float: left; 
    margin-left: .05rem;
    margin-top: .15rem;
}
.right-box-2-2 .left-info-item{
    font-size: .14rem;
}
.right-box-2-2 .left-info-item.num{
    color: #FC4737;
    font-size: .26rem;
}
.right-box-2-2 .left-info-item.num > span{
    font-size: .14rem;
    color: #fff
}
.right-box-2-2 .right-list{
    float: right;
    width: 3.75rem;
    margin: 0.1rem .16rem 0 .2rem;
}

.right-box-3 .box-title{
    float: none;
}
.right-box-3 .top-info{
    font-size: .14rem;
    clear: both;
    margin-left: .05rem;
    margin-top: .22rem;
}
.chart5{
    width: 1.12rem;
    height: 1.12rem;
    margin: .25rem auto;
}
.right-box-3 .chart-info{
    overflow: hidden;
    margin-left: .05rem;
    text-align: center;
    box-sizing: border-box;
    padding: 0 .1rem;
}
.right-box-3 .chart-info .chart-info-item {
    font-size: .14rem;
    float: left;
    margin-right: .6rem;
}
.right-box-3 .chart-info .chart-info-item:last-child{
    margin: 0;
}
.right-box-3 .chart-info .chart-info-item .num{
    color: #FC4737;
    font-size: .3rem;
    margin-top: .05rem;
}
.right-box-3 .list{
    margin-top: .5rem;
}
.right-box-3 .list-item-td:first-child{
    flex: .8;
}
.right-box-3 .list-item-td:nth-child(2){
 text-align: right;   
}
/* 右边模块 end */