@charset "utf-8";
html { -ms-touch-action: none;}
body {font-family:"Microsoft YaHei",sans-serif;font-size:12px;}
a {text-decoration: none;-webkit-touch-callout: none;color:#515151;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, span, a {margin: 0; padding: 0;}
i, address, caption, cite, code, dfn, em, strong, th, var {font-style: normal;}
ol, ul, li {list-style: none;}
img { border: none;}
input {font-family: "Microsoft YaHei",sans-serif; -webkit-user-select: text; -ms-user-select: text; user-select: text;}
textarea {-webkit-user-select: text; -ms-user-select: text; user-select: text; -webkit-appearance: none;}
input:focus, select:focus, textarea:focus, button:focus {outline: none;}
input[type="text"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], input[type="email"], input[type="url"], textarea {-webkit-appearance: none; border: 1px solid; border-radius: 0;}
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none;}
/*取消ios点击事件半透明背景*/
*{-webkit-tap-highlight-color:transparent;}
/*公共样式*/
.align-center{display: flex;  justify-content: center;  align-items: center;}